/* CSS declarations go here */
.square {
    cursor: pointer;
    width:84px;
    height:84px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 4px;
    float:left;
    text-align: center;
    font-size: 12px;
}

.square.COURAGE{
    background-color: #33CC00;
}

.square.WISDOM{
    background-color: #3300CC;
}


.square.JUSTICE{
    background-color: #660099;
}

.square.HOLY{
    background-color: #FFCC00;
}


.half-square {
    color: white;
    cursor: pointer;
    width:42;
    height:84px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 4px;
    float:left;
    text-align: center;
    font-size: 12px;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
}